
#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS {
    background-image: url( 'https://s3.amazonaws.com/images.seroundtable.com/google-rainbow-texture-1491566442.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}
#someString, #someString2 {
padding: 2px 5px 25px 5px!important;

height: 24px;

}

.line-over {
    text-decoration: line-through;
}

/* Font */
body{
background-color: rgb(252, 252, 252);
background-image: url("assets/TT Images/wood.jpg");
background-size: cover;
font-family: 'Arima Madurai', cursive;
}


/* Nav Bar */

.navbar{
    background-color:hsla(60, 20%, 99%, 0.9);
    border-radius: 0px 0px 10px 10px;
   }

.nav-link{
    padding: 10px;
    text-align: center;
    width: 166px;
    margin: auto 100px auto 100px;
    font-size: 24px;
    color: hsla(9, 78%, 55%, 1);
}
.nav-link:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}
.nav-item.nav-link{
    text-align: center;
}

