
#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS {
    background-image: url( 'https://s3.amazonaws.com/images.seroundtable.com/google-rainbow-texture-1491566442.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}
#someString, #someString2 {
padding: 2px 5px 25px 5px!important;

height: 24px;

}

.line-over {
    text-decoration: line-through;
}


