
/*---------- TT's CSS Section in progress --------------*/
body{
    background-color: rgb(252, 252, 252);
    background-image: url("assets/TT Images/wood.jpg");
    background-size: cover;
}

.navbar{
    background-color:hsla(60, 20%, 99%, 0.9);
    border-radius: 10px;
}
/* url(https://files.123freevectors.com/wp-content/original/110440-black-and-blue-blurred-background-vector.jpg) */

.container {
    margin-top: 45px;
    /* border-top:gray;
    border-width: 5px; */
}

.beige{
    background-color: hsla(60, 20%, 99%, 0.9);
    border-radius: 10px;
}

.padding25{
    padding:25px;
}

hr{
    border-width: 2px;
    border-color:hsla(9, 78%, 55%, 1);
    margin-top: 10px;
}

#rat{
    height: 70px;
    position:fixed; 
    /* animation: run 10s infinite; */
    top:5px; 
    left: 0px;
}

@keyframes run {
    0%   {top: 5px; left: 0px;}
    25%  {top: 5px; left: 1200px;}
    50%  {top: 500px; left: 1200px;}
    75%  {top: 500px; left: 0px;}
    100% {top: 5px; left: 0px;}
    /* 25%  {top: 5px; right: 0px;}
    50%  {bottom: 0px; right: 0px;}
    75%  {bottom: 0px; left: 0px;}
    100% {top: 5px; left: 0px;} */
}

.giphy:hover {
    height: 220px;
}

.chef:hover {
    height: 220px;
}

.chef {
    height:200px;
}

.confetti {
    position: absolute; 
    z-index: 1;
    width: 10px;  
    top: -10px; 
    left: 0px;
}

.confetti:hover {
    width: 62px;
}

/*---------- End of TT's CSS Section  --------------*/


/*---------- Olex's CSS Section in progress --------------*/
.dropdown {
    position: absolute;

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.row {
    justify-content: center;
}

button {
    /* position: relative; */
    width: 146px;
    background-color:   hsla(9, 78%, 55%, 1);
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 2px;
    
}

button:hover{
    background-color: hsla(0, 50%, 49%, 1);
    font-size: 17px;
}

ul {
    position: absolute;
    margin-left: 5px;
    padding: 0;
    width: 160px;
    background-color: #ccc;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg) ;
    transition: 1.5s;
}

ul.active{
    transform: perspective(1000px) rotateX(0deg) ;
}

ul.disable{
    display: none;
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #262626;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-family: 'Courgette', cursive;
    /* border-radius: 5px; */
}

ul li a:hover {
    background-color: hsla(0, 50%, 49%, 1);
    color: #fff;
}

/* .nav-item {
    margin-right: 0 !important;
} */


.nav-item.nav-link{
    margin: auto 100px auto 100px;
}

h4 {
    color: hsla(9, 78%, 55%, 1);
}

h4:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}

/*---------- End of Olex's CSS Section --------------*/