

h1 {

    
    height: 100px;
    text-align: center;
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

h5, h2 {
    text-align: center;
}

/* .container {

    background-color: pink;
} */

.inputGroup {
    padding-top:50px;
}

.navbar{
    background-color:hsla(60, 20%, 99%, 0.9);
    border-radius: 10px;
}

.nav-item.nav-link{
    margin: auto 100px auto 100px;
}

h4 {
    color: hsla(9, 78%, 55%, 1);
}

h4:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}

#borderSection {
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

.ingredBtn, .mealBtn, .urlBtn {
    background-color: hsla(9, 78%, 55%, 1);
    border: none;
}

.btn:hover{
    background-color: hsla(0, 50%, 49%, 1);
}

a {
    color: hsla(0, 50%, 49%, 1);
}