

h1 {

    
    height: 100px;
    text-align: center;
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

h5, h2 {
    text-align: center;
}

.container {

    background-color: hsla(60, 20%, 99%, 0.9);
    border: solid 5px #28a745;
}

body{
    background-color: rgb(252, 252, 252);
    background-image: url("TT Images/wood.jpg");
    background-size: cover;
 }



.inputGroup {
    padding-top:50px;
    margin-bottom: 50px;
}

.navbar{
    background-color:hsla(60, 20%, 99%, 0.9);
    border-radius: 0px 0px 10px 10px;
}

.nav-link{
    padding: 10px;
    text-align: center;
    width: 166px; 
    margin: auto 100px auto 100px;
    font-size: 24px;
    color: hsla(9, 78%, 55%, 1);
}


.nav-link:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}

.nav-item.nav-link{
    text-align: center;
}

h4 {
    color: hsla(9, 78%, 55%, 1);
}

h4:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}

#borderSection {
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

.ingredBtn, .mealBtn, .urlBtn, .btn-save {
    background-color: hsla(9, 78%, 55%, 1) !important;
    border: none;
}

.btn-close {
    border-color: #28a745;
    background-color: #28a745;

}

.btn:hover{
    background-color: hsla(0, 50%, 49%, 1);
}

a {
    color: #28a745;
}

a:hover {
    color: hsla(0, 50%, 49%, 1);
}